[run]
omit =
    .pytest_cache
    run.py
    manage.py
    venv/*

[report]
omit =
    .pytest_cache
    run.py
    manage.py
    venv/*

ignore_errors = True

[html]
directory = coverage_html_report
